SECRET_KEY=""
ENVIRONMENT=""

DEBUG=""

DROPBOX_APP_KEY=""
DROPBOX_APP_SECRET=""
DROPBOX_OAUTH2_TOKEN=""
DROPBOX_OAUTH2_REFRESH_TOKEN=""

STRIPE_LIVE_SECRET_KEY=""
STRIPE_TEST_SECRET_KEY=""

STRIPE_LIVE_PUBLIC_KEY=""
STRIPE_TEST_PUBLIC_KEY=""

STRIPE_TEST_PRICE_KEY = ""
STRIPE_LIVE_PRICE_KEY = ""


DB_NAME = ""
DB_USER  = ""
DB_PASSWORD  = ""
DB_HOST  = ""
DB_PORT  = ""

OPENAI_SECRET_KEY=""

channel_layer=""